Channel: SIP/{{.PHONE}}
Callerid: callme
MaxRetries: 1
RetryTime: 30
WaitTime: 15

Context: test-dial
Extension: autoplay
Priority: 1

Archive: Yes

Set: CDR(userfield)="userfield"
Set: CDR(dest_num)="{{.PHONE}}"
Set: CDR(jobid)="{{.JOBID}}"
