Channel: SIP/{{.PHONE}}
Callerid: UH-H.RU
MaxRetries: 1
RetryTime: 30
WaitTime: 15

Context: test-dial
Extension: autoplay
Priority: 1

Archive: Yes

Set: CDR(userfield)="dev.uh-h.ru"
Set: CDR(dest_num)="{{.PHONE}}"
Set: CDR(jobid)="{{.JOBID}}"
